<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>shimae.net</title>

    <link rel="describedby" href="/llms.txt">
    <link rel="stylesheet" href="./style.css">
  </head>

  <body>
    {{ siteHeader }}
    <main>
      <h1>ようこそ、Shimaeのサイトへ</h1>
      <h2>Blog</h2>
      <ul>
        {{ posts }}
      </ul>
      <h2>About</h2>
      <p>Shimaeが、仕事や技術について考えたことを記録する個人ブログです。</p>
      <p>日々の経験から得た気づきを、無理のないペースで書いていきます。</p>
      <p>
        このブログは、Markdownで書いた記事を静的サイトとして公開しています。
      </p>
      <p>
        必要なものだけがあればいい、という考えで、できるだけ余計な加飾を省いています。
      </p>
    </main>
  </body>
</html>
